body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ccc;
  }
  .bodyy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(139, 135, 135);
    border-radius: 5px;
    background: whitesmoke;
    width: 90%;
    height: 90%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  h1, h2 {
    text-align: center;
  }
  
  .input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .input-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .input-section input[type="number"], .input-section input[type="date"] {
    padding: 2px;
    margin-right: 5px;
  }
  
  .input-section button {
    padding: 5px 10px;
    background-color: #af4ca2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .expenses-list {
    margin: 20px;
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 160px;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #af4ca7;
    color: white;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  .delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  